<div>
  <section class="hero is-primary is-medium ">
    
      <!-- Hero header: will stick at the top -->
      <div class="hero-image">
          <header class="navbar">
              <div class="navbar-brand">

                  <a class="navbar-item" href="">
                      <img src="assets/images/pblogo.png" width="22" height="28">
                  </a>

                
              </div>
              <div class="navbar-menu">
                  <!-- navbar start, navbar end -->
                  <div class="navbar-end">
                    <a class="navbar-item" target="_blank" href="https://developer.porterbuddy.com/#/">Api Documentation</a>
                      <a class="navbar-item" target="_blank" href="https://github.com/PorterBuddy/">Github Repository</a>
                      <a class="navbar-item" target="_blank" href="https://PorterBuddy.com">Porterbuddy.com</a>
                  </div>
              </div>
          </header>
      </div>


      <!-- Hero content: will be in the middle -->
      
      <div class="hero-body header-image">
          <div class="container has-text-centered">
              <h1 class="title is-2">
                 Porterbuddy Checkout
              </h1>
              <h2 class="tittle headingM">
                API Demo
              </h2>
          </div>
      </div>
      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
              <div class="container">
              
              </div>
          </nav>
      </div>
  </section>
</div>