<div class="container">
  <div class="column is-12">
   <div class="columns is-desktop">
    <div class="column is-3">
     <button type="button" (click)="initCheckout()" class="button rectanglePrimary mediumLabel">
      <span style="margin-right: 2%;" class="icon">
       <i class="bm-icon-bell"></i>
      </span>
      New Checkout
     </button>
    </div>
    <div class="column is-8">
     <iframe [src]="urlSafe " style="display: center;" frameborder="0" allowfullscreen></iframe>
    </div>
 
    <div class="column"></div>
   </div>
  </div>
 </div>
 